DOG_API_ROOT=https://api.thedogapi.com
DOG_API_BASE_URL=https://api.thedogapi.com/v1
DOG_API_OPENAPI_URL=https://api.thedogapi.com/openapi-json
DOG_API_KEY=
DOG_API_SUB_ID=rest-api-tests
RUN_MUTATION_TESTS=false
RUN_UPLOAD_TESTS=false
STRICT_PROVIDER_AVAILABILITY=false
TEST_WORKERS=4
TEST_TIMEOUT_MS=30000
RESPONSE_TIME_BUDGET_MS=2500
MAX_OPENAPI_PROBES=2000
